{
  "extends": [
    "eslint:recommended",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "plugin:import/recommended",
    "prettier"
  ],
  "plugins": ["react", "@typescript-eslint", "jest", "import", "prettier"],
  "env": {
    "browser": true,
    "es2021": true,
    "jest/globals": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "arrow-parens": ["warn", "always"],
    "arrow-body-style": "error",
    "camelcase": "off",
    "eslint-plugin-import/prefer-default-export": "off",
    "function-paren-newline": "off",
    "linebreak-style": ["error"]
  },
  "ignorePatterns": [".eslintrc.js", "src/client/setupTests.ts"]
}