@mixin display-flex ($justify-content, $align-items: center, $flow: row nowrap) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-flow: $flow
}

@mixin respond-to($mobBreakpoint) {
  @media only screen and #{$mobBreakpoint} {
    @content;
  }
}
