@import '../guessWord/guessWord';
@import '../gameOverPrompt/gameOverPrompt';

.game {
  @include display-flex(flex-start, center, column nowrap);
  padding: 2em 0;

  &__input-list-container {
    position: relative;
    margin-bottom: 20px;

    .message {
      position: absolute;
      top: 37%;
      left: 104%;
      min-width: 140px;
      color: red;
      font-size: 0.8rem;
      font-family: sans-serif;
    }
  }

  &__guess-container {
    @include display-flex(flex-start, center, column nowrap);
    margin-bottom: 20px;

    &__guess-list {
      margin-bottom: 20px;

      .guess-word-container {
        @include display-flex(flex-start);
        gap: 5px;

        &__guess-number {
          font-family: sans-serif;
        }
      }

      .guess-word {
        margin-bottom: 5px;
      }
    }
  }
}
