.alphabet {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  column-gap: 3px;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 3px;

  &__letter {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    @include display-flex(center);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1rem;
  }
}
